{% extends 'base.html.twig' %}

{% block body %}
    <form class="mt-8 space-y-6 " action="/OpenClassrooms/update" method="POST">
        <!-- ... -->
        <div>
            <label for="email-address" class="ml-2 sr-only">Votre titre</label>
            <input id="email-address" name="title" type="text" required value="{{ title }}"
                   class=" relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-slate-50 sm:text-sm sm:leading-6 pl-2"
                   placeholder="Votre titre">
        </div>
        <div>
            <label for="email-address" class="sr-only">Description courte</label>
            <input id="email-address" name="chapo" type="text" required value="{{ chapo }}"
                   class="my-2 relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-slate-50 sm:text-sm sm:leading-6 pl-2"
                   placeholder="Description courte">
        </div>
        <div>
            <label for="email-address" class="sr-only">Description</label>
            <input id="email-address" name="description" type="text" required value="{{ description }}"
                   class="rrelative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-slate-50 sm:text-sm sm:leading-6 pl-2"
                   placeholder="Description">
        </div>
        <!-- ... -->
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}